@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To the Bikeshop database</h1>
    <p> <a asp-controller="Customers" asp-action="Index">Enter a Customer </a> </p>
     <p> <a asp-controller="Stocks" asp-action="Index">Enter some Stock </a> </p>
      <p><a asp-controller="Orders" asp-action="Index">Make a Sale </a></p>
</div>
