@using System.Collections
@using dsd03Ass2MVC.DTO


@{
    ViewData["Title"] = "Home Page";
}



<div class="card text-white border-primary bg-success mb-3 bg-gradient" style=" margin-top: 20px; border-radius: 30px;">
    <div class="card-header">
       <h2>Welcome to our Stock and Sales Database</h2>
       
    </div>
    <div class="card-body ">
      
        <div class="row"style="color: aqua; background-color: blueviolet; border-radius: 20px;">
            <h5 class="card-title">
                Click on a Navigation link in the Top to complete the following:
            </h5>
            <ul>
                <li class="list-group-item ">Register - Register a new user for this system</li>
                <li class="list-group-item">Login - Login an existing user for this system</li>
                <li class="list-group-item">Home- Return to this screen</li>
                <li class="list-group-item">Enter a Customer -View customers and enter a customer to the database</li>
                <li class="list-group-item">Enter some Stock - View Stock and enter stock to the database</li>
                <li class="list-group-item">Make a Sale - View sales and enter a new sale</li>
                <li class="list-group-item">Staff - Add and Edit Staff</li>
            </ul>
        </div>

      
    </div>
    
</div>
